<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwn.trainserverspringboot.query.mapper.OrderQueryMapper">
    
<!--    <select id=""-->
    <select id="getOrderById" resultType="com.zwn.trainserverspringboot.command.bean.Order">
        SELECT order_id AS orderId, user_id AS userId, passenger_id AS passengerId, departure_date AS departureDate,
               train_route_id AS trainRouteId, from_station_id AS fromStationId, to_station_id AS toStationId,
               seat_type_id AS seatTypeId, order_status AS orderStatus, order_time AS orderTime, price
        WHERE order_id = #{orderId}
    </select>
</mapper>