<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwn.trainserverspringboot.command.mapper.PassengerCommandMapper">

    <insert id="addPassenger">
      INSERT INTO passenger VALUES (#{userId}, #{passengerId}, #{passengerName}, #{phoneNum})
    </insert>

    <update id="modifyPassenger">
        UPDATE passenger 
            <set>
                <if test="passengerName != null">
                    passenger_name = #{passengerName},
                </if> 
                <if test="phoneNum != null">
                    phone_num = #{phoneNum}
                </if>
            </set>
        WHERE user_id = #{userId} AND passenger_id = #{passengerId};
    </update>

    <delete id="deletePassenger">
        DELETE FROM passenger WHERE user_id = #{userId} AND passenger_id = #{passenger};
    </delete>


</mapper>