<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwn.trainserverspringboot.query.mapper.PassengerQueryMapper">

    <select id="queryAllPassengers" resultType="com.zwn.trainserverspringboot.command.bean.Passenger">
        SELECT user_id AS userId, passenger_id AS passengerId, passenger_name AS passengerName, phone_num AS phoneNum,
               prole AS prole
        FROM passenger
        WHERE user_id = #{param1}
    </select>

    <select id="querySinglePassenger" resultType="com.zwn.trainserverspringboot.command.bean.Passenger">
        SELECT passenger_id AS passengerId, passenger_name AS passengerName, phone_num AS phoneNum, prole AS prole
        FROM passenger
        WHERE user_id = #{param1} AND passenger_id = #{param2}
    </select>

    <select id="getPassengerRole" resultType="java.lang.String">
        SELECT `prole` FROM  passenger WHERE  passenger_id = #{param2} and user_id = #{param1};
    </select>

<!--    TODO:role 都要改-->


</mapper>