<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwn.trainserverspringboot.query.mapper.SeatTypeQueryMapper">

    <select id="getAllSeatType" resultType="java.util.Map">
        SELECT `seat_type_id`,`seat_type_name` FROM seat_type
    </select>

</mapper>