<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwn.trainserverspringboot.query.mapper.StationQueryMapper">

    <select id="getSameCityStationId" resultType="java.lang.String">
        SELECT `station_id` FROM station WHERE city in (SELECT city FROM station WHERE station_name = #{stationName})
    </select>

    <select id="getAllStationInfo" resultType="com.zwn.trainserverspringboot.query.bean.Station">
        SELECT station_id, station_name, city FROM station;
    </select>

</mapper>