<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwn.trainserverspringboot.command.mapper.TicketCommandMapper">

    <insert id="ticketBooking">
        INSERT INTO ticket_order(order_id,user_id,passenger_id,departure_date,train_route_id,from_station_id,
                                 to_station_id,seat_type_id,order_status,order_time,price)
        VALUES (#{order.orderId},#{order.userId},#{order.passengerId},#{order.departureDate},#{order.trainRouteId},
                #{order.fromStationId},#{order.toStationId},#{order.seatTypeId},#{order.orderStatus},#{order.orderTime},
                #{order.price});
        INSERT INTO ticket_booking(order_id,user_id,create_time) VALUES (#{order.orderId},#{order.userId},#{param2});
    </insert>

    <update id="ticketPay">
        UPDATE ticket_order SET order_status = '已支付', trade_no = #{param2} WHERE order_id = #{param1};
        DELETE FROM ticket_booking WHERE order_id = #{param1};
    </update>

    <update id="ticketRefund">
        UPDATE ticket_order SET order_status = '已退票' WHERE order_id = #{param1} AND passenger_id = #{param2};
    </update>

    <update id="ticketRebook">
        UPDATE ticket_order SET order_status = '已改签'
          <choose>
              <when test="param2 != null">
                  AND departure_date = #{param3}
              </when>
              <when test="param3 != null">
                  AND train_route_id = #{param4}
              </when>
          </choose>
          WHERE order_id = #{param1} AND passenger_id = #{param2};
    </update>

    <update id="updateTicketSold">
        UPDATE ticket_sold SET carriage_id = #{param3} AND seat = #{param4}
                           WHERE order_id = #{param1} AND passenger_id = #{param2};
    </update>

    <insert id="ticketGet">
        INSERT INTO ticket_sold(ticket_id,order_id,passenger_id,carriage_id,seat)
        VALUES (0,#{param1},#{param2},#{param3},#{param4})
    </insert>

    <update id="updateTicketRemain">
        WITH info AS (SELECT station_id,station_no FROM train_route_atom WHERE train_route_id = #{param1}),
             from_s AS (SELECT station_id FROM train_route_atom WHERE train_route_id = #{param1} AND station_id = #{param3}),
             to_s AS (SELECT station_id FROM train_route_atom WHERE train_route_id = #{param1} AND station_id = #{param4})
        UPDATE ticket_management_atom SET remaining_ticket_num = remaining_ticket_num - #{param4}
        WHERE train_route_id = #{param1} AND seat_type_id = #{param2} AND ticket_date = #{param3}
          AND station_id IN (  SELECT info.station_id FROM info,from_s,to_s
                               WHERE station_no BETWEEN from_s.station_id AND to_s.station_id);
    </update>

    <delete id="ticketBookingCancel">
        DELETE FROM ticket_order WHERE departure_date = #{param1} AND train_route_id = #{param2} AND
            passenger_id = #{param3};

        DELETE FROM ticket_booking
               WHERE order_id IN
                     (SELECT order_id FROM ticket_order WHERE departure_date = #{param1}
                                                          AND train_route_id = #{param2}
                                                          AND passenger_id = #{param3});
    </delete>

</mapper>