<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwn.trainserverspringboot.query.mapper.TicketQueryMapper">


    <select id="getTicketsRemain" resultType="com.zwn.trainserverspringboot.query.bean.TicketsRemain">
--         先找出所有经过的站
        WITH info AS (SELECT station_id,station_no FROM train_route_atom WHERE train_route_id = #{param1}),
             from_s AS (SELECT station_id FROM train_route_atom WHERE train_route_id = #{param1} AND station_id = #{param3}),
             to_s AS (SELECT station_id FROM train_route_atom WHERE train_route_id = #{param1} AND station_id = #{param4})
        SELECT train_route_id AS trainRouteId, seat_type_id AS seatTypeId, min(remaining_ticket_num) AS remainingTicketNum
        FROM ticket_management_atom
        WHERE train_route_id = #{param1} AND ticket_date = #{param2}
--           留下夹在用户给定的起始区间之间的站
            AND station_id IN (
                SELECT info.station_id FROM info,from_s,to_s
                                  WHERE station_no
                                      BETWEEN from_s.station_id AND to_s.station_id
            )
--         按座位类型分类返回
        GROUP BY seat_type_id;
    </select>

    <select id="getTicketPrices" resultType="com.zwn.trainserverspringboot.query.bean.TicketPrice">
        WITH from_no AS (SELECT station_no FROM train_route_atom WHERE train_route_id = #{param1} AND station_id = #{param2}),
             to_no AS (SELECT station_no FROM train_route_atom WHERE train_route_id = #{param1} AND station_id = #{param3})
        SELECT train_route_id, seat_type_id, SUM(price)
        FROM ticket_price_atom
        WHERE station_no BETWEEN from_no AND to_no AND train_route_id = #{param1}
        GROUP BY seat_type_id;
    </select>

    <select id="getTicketPrice" resultType="java.lang.Double">
        WITH from_no AS (SELECT station_no FROM ticket_price_atom WHERE train_route_id = #{param1} AND station_id = #{param2}),
             to_no AS (SELECT station_no FROM ticket_price_atom WHERE train_route_id = #{param1} AND station_id = #{param3}),
             s AS (SELECT station_no,price FROM ticket_price_atom WHERE train_route_id = #{param1} AND seat_type_id = #{param4})
        SELECT  SUM(price)
        FROM s, from_no, to_no
        WHERE s.station_no BETWEEN from_no.station_no AND to_no.station_no;
    </select>

    <select id="getSelfTicket" resultType="com.zwn.trainserverspringboot.command.bean.OrderGeneral">
        SELECT order_id AS orderId, train_route_id AS trainRouteId, from_station_id AS fromStationId,
               to_station_id AS toStationId, departure_date AS departureDate
        FROM ticket_order
        WHERE user_id = #{userId} AND order_status = '已出票';
    </select>

    <select id="getSelfOrder" resultType="com.zwn.trainserverspringboot.command.bean.OrderGeneral">
        SELECT order_id AS orderId, train_route_id AS trainRouteId, from_station_id AS fromStationId,
               to_station_id AS toStationId, departure_date AS departureDate, order_status AS orderStatus
        FROM ticket_order
        WHERE user_id = #{userId};
    </select>

    <select id="getSelfPaiedOrder" resultType="com.zwn.trainserverspringboot.command.bean.OrderGeneral">
        SELECT order_id AS orderId, train_route_id AS trainRouteId, from_station_id AS fromStationId,
               to_station_id AS toStationId, departure_date AS departureDate
        FROM ticket_order
        WHERE user_id = #{userId} AND order_status = '已支付';
    </select>

    <select id="getOrderInfo" resultType="com.zwn.trainserverspringboot.command.bean.Order">
        SELECT order_id AS orderId, passenger_id AS passengerId, departure_date AS departureDate,
               train_route_id AS trainRouteId, from_station_id AS fromStationId, to_station_id AS toStationId,
               seat_type_id AS seatTypeId, order_status AS orderStatus, order_time AS orderTime, price AS price,
               trade_no AS tradeNo
        FROM ticket_order
        WHERE (order_id,passenger_id) IN (SELECT order_id,passenger_id FROM ticket_sold WHERE ticket_id = #{ticketId});
    </select>

    <select id="getTicketSeatInfo" resultType="com.zwn.trainserverspringboot.query.bean.SeatInfo">
        SELECT ticket_id AS ticketId, passenger_id AS passengerId, carriage_id AS carriageId, seat
        FROM ticket_sold
        WHERE ticket_id = #{ticketId};
    </select>

    <select id="getTicketToPayDetail" resultType="com.zwn.trainserverspringboot.command.bean.Order">
        SELECT order_id AS orderId, passenger_id AS passengerId, departure_date AS departureDate,
               train_route_id AS trainRouteId, from_station_id AS fromStationId, to_station_id AS toStationId,
               seat_type_id AS seatTypeId,  order_time AS orderTime, price AS price,
               trade_no AS tradeNo
        FROM ticket_order
        WHERE user_id = #{userId} AND order_status = '未支付';
    </select>

    <select id="getTicketToPayNum" resultType="java.lang.Integer">
        SELECT COUNT(order_id)
        FROM ticket_booking
        WHERE user_id = #{userId};
    </select>
</mapper>