<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwn.trainserverspringboot.command.mapper.TicketCommandMapper">

    <insert id="ticketBooking">
        INSERT INTO ticket_order(order_id,user_id,passenger_id,departure_date,train_route_id,from_station_id,
                                 to_station_id,seat_type_id,order_status,order_time,price)
        VALUES (#{orderId},#{userId},#{passengerId},#{departureDate},#{trainRouteId},#{fromStationId},#{toStationId},
                #{seatTypeId},#{orderStatus},#{orderTime},#{price});
        INSERT INTO ticket_booking(order_id) VALUES (#{orderId});
    </insert>

    <update id="ticketPay">
        UPDATE ticket_order SET order_status = '已支付', trade_no = #{param2} WHERE order_id = #{param1};
        DELETE FROM ticket_booking WHERE order_id = #{param1};
    </update>

    <update id="ticketRefund">
        UPDATE ticket_order SET order_status = '已退票' WHERE order_id = #{orderId};
    </update>

    <update id="ticketRebook">
        UPDATE ticket_order SET order_status = '已改签'
          <choose>
              <when test="param2 != null">
                  AND departure_date = #{param2}
              </when>
              <when test="param3 != null">
                  AND train_route_id = #{param3}
              </when>
          </choose>
          WHERE order_id = #{param1};
    </update>

    <update id="updateTicketSold">
        UPDATE ticket_sold SET carriage_id = #{param2} AND seat = #{param3} WHERE order_id = #{param1};
    </update>

    <insert id="ticketGet">
        INSERT INTO ticket_sold(ticket_id,order_id,carriage_id,seat) VALUES (0,#{param1},#{param2},#{param3})
    </insert>

</mapper>