<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwn.trainserverspringboot.command.mapper.TicketCommandMapper">

    <insert id="ticketBooking">
        INSERT INTO ticket_order(order_id,user_id,passenger_id,departure_date,train_route_id,order_status,order_time,price)
        VALUES (#{orderId},#{userId},#{passengerId},#{departureDate},#{trainRouteId},#{orderStatus},#{orderTime},#{price});
        INSERT INTO ticket_booking(order_id) VALUES (#{orderId});
    </insert>

    <update id="ticketPay">
        UPDATE ticket_order SET order_status = '已支付', trade_no = #{param2} WHERE order_id = #{param1};
        DELETE FROM ticket_booking WHERE order_id = #{param1};
    </update>
</mapper>